*{
  margin: 0;
  padding: 0;
  font-family: "montserrat" , sans-serif;
}

body{
  background-image: url(../../assets/photo-1554118811-1e0d58224f24.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}


.compform{
  position: relative;
  top: 100px;
  left: 28%;
  width :50%;
  height :auto;
  background :#000;
  opacity: 0.9;
  color: #fff;
  box-sizing : border-box;
  padding: 50px 30px;
  }
  
  .compform h2{
  margin-bottom: 20px;
  position: relative;
  left: 40%;
  font-size: 30px;
  }
  
  
  input[type=text], select, textarea {
  width: 100%; 
  padding: 15px; /* Some padding */ 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  .compform button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  position: relative;
  width: 100%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  }
  
  .compform button:hover {
  background-color:green;
  
  }