<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
      <a mat-flat-button color="primary" [routerLink]="['/farmer-add']"><mat-icon>list</mat-icon></a>
    </div>
    <mat-card class="example-card">
      <form #form="ngForm">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Farmer Name" [(ngModel)]="farm_name" required name="farmname">
          <mat-error>
            <!-- <span *ngIf="farmname.errors && farmname.errors.reuiered">Please enter farmer Name</span> -->
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Farmer Adds" [(ngModel)]="farm_detail">
          <mat-error>
            <span *ngIf="!farmerForm.get('farm_detail').valid && farmerForm.get('farm_detail').touched">Please enter farmer  Detail</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Farmer Register-id" [(ngModel)]="farm_contact"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!farmerForm.get('farm_contact').valid && farmerForm.get('farm_contact').touched">Please enter farmer contact details</span>
          </mat-error>
        </mat-form-field>
        <div class="button-row">
          <button type="submit" [disabled]="farmerForm.valid" (onClick)="onFormSubmit(farmerForm.value)" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
        </div>
           </form>
    </mat-card>
  </div>
  
