*{margin: 0; padding: 0;}
body{background: #ecf1f4; font-family: sans-serif;
background-image:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(../../assets/farm11.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 100%;
}


.form-wrap{width: 350px;height: 450px;color: white; background: black;opacity: 0.9; padding: 40px 20px; box-sizing: border-box; position: absolute; left: 70%; top: 55%; transform: translate(-50%, -50%);}
h1{text-align: center; color: #fff; font-weight: normal; margin-bottom: 20px;}

input{width: 100%; background: none; border: 1px solid #fff; border-radius: 3px; padding: 10px 15px; box-sizing: border-box; margin-top: 10px; margin-bottom: 20px; font-size: 16px; color: #fff;}

button{ background-color:  #bac675;; border: 0; cursor: pointer;width: 100%; background: none; border: 1px solid #fff; border-radius: 3px; padding: 6px 15px; box-sizing: border-box; margin-bottom: 20px; font-size: 16px; color: #fff;}
button:hover{ background: #a4b15c; transition: .6s;color: black; font-weight: bold;}

.form-wrap a{
	text-decoration: none;
	color: white;
}

.container{width: 100%; background: none; padding: 6px 15px; box-sizing: border-box;margin-top: 25px; margin-bottom: 20px; font-size: 16px; color: #fff;}
.container a{
  text-decoration: none;
  color: white;
  font-style: italic;
}

.container a:hover{
 color: blue;
 text-decoration: underline;
 
}

::placeholder{color: #fff;}


.header{
  height: 100px;
  padding: 0 25px;
  color: white;
  overflow: hidden;
  font-size: 20px;
  background: rgba(0,0,0,0.9);

}

.header i{
    float: left;
    padding-top: 40px;
    padding-left: 10px;
  }

.logo{
  line-height: 100px;
  float: left ;
  text-transform: uppercase;
  position: relative;
  left: 30px;
}

.menu{
  float: right;
  line-height: 100px; 
}

.menu a{
  color:white;
  text-decoration: none;
  padding: 0 15px;
  transition: 0.4s;
  font-weight: bold;
}

.menu a:hover{
  color:blue   ;
  font-weight: bolder;
  text-decoration: underline;
  font-size: 20px;
}


@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
  font-family: Roboto;
}

.footer-distributed{
  position: relative;
  top: 85%;
  background:black;
  opacity: 1;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 50px 60px 40px;
	overflow: hidden;
	text-align: center;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Roboto', cursive;
	margin: 0 0 10px;
}

.footer-distributed h3 span{
	color:  #5383d3;
}


.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-icons{
	margin-top: 40px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}


.footer-distributed form{
	display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;

	width: 400px;
	padding: 18px;
}

.loggedin{
	font-size: 20px;
	color: white;
	padding-top: 50px;
}
