*{
  margin: 0;
  padding: 0;
  font-family: "montserrat" , sans-serif;
}

body{
  // background-image: url(../../../assets/custom-european-style-leisure-coffee-shop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  position: relative;
  top: 40px;
  left: 15%;
  height: auto;
}

.prodisp{
  position: relative;
  
  width :60%;
  margin-left: 40px;
  height :auto;
  background :white;
  opacity: 0.9;
  color: black;
  box-sizing : border-box;
  padding: 50px 30px;
}

.prodisp .header{
  margin-bottom: 20px;
  font-size: 30px;
}

.prodisp .header i{
  float: left;
  size: 20px;
  color:black;
  text-decoration: none;
  padding: 0 15px;
  transition: 0.4s;
  font-weight: bold;
}

.prodisp .header i:hover{
 color: blue;
}

.prodisp .header h2{
  position: relative;
  left: 25%;
}

dl{
  margin: 10px;
  padding-bottom: 5px;
}

dt{
  font-size: 20px;
  font-weight: bold;
}

dd{
  width: 100%; 
  padding: 15px; /* Some padding */ 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.prodisp button {
  color: white;
  padding: 12px 20px;
  position: relative;
  width: 15%;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  margin-top: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.prodisp button a{
  color: white;
  text-decoration: none;
  font-size: 20px;
}

/* When moving the mouse over the submit button, add a darker green color */
.prodisp button:hover {
  background-color:green;
}

.prodisp button a:hover{
  font-weight: bolder;
}