body {
  margin: 0;
  height: 100%;
  background-image: url(../../../assets/photo-1554118811-1e0d58224f24.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
  font-family: sans-serif;
	font-weight: 100;
}

.container {
	position: absolute;
	top: 60px;
	left: 20%;
	
}

table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th{
	padding: 15px;
  background-color:black;
  opacity: 0.9;
  color: #fff;
  text-align: left;
  padding: 15px;
  background-color:black;
  font-size: 15px;
}

	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}