*{margin: 0; padding: 0;}
body{background: #ecf1f4; font-family: sans-serif;
background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url(../../assets/farm11.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 160%;
}

.regform{ position: relative;
    top: 10px;
    left: 25%;
    width :50%;
    margin-left: 40px;
    height :auto;
	background :#000;
	opacity: 0.8;
    color: #fff;
    box-sizing : border-box;
  padding: 50px 30px;
  margin-bottom: 20px;
}
.regform h1{
	margin-bottom: 20px;
    position: relative;
    left: 40%;
	font-size: 30px;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 15px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical ;
  }
  input[type=password], select, textarea {
    width: 100%; 
    padding: 15px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical ;
  }

  .regform button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    position: relative;
    width: 100%;
    border: none;
    margin-top: 8px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .regform button a{
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  .regform button:hover {
    background-color:green;
  }
  
  .regform button a:hover{
    font-weight: bolder;
  }

.container{width: 100%; background: none; padding: 1px 5px; box-sizing: border-box;margin-top: 25px; margin-bottom: 1px; font-size: 16px; color: #fff;}
.container a{
  text-decoration: none;
  color: white;
  font-style: italic;
}

.container a:hover{
 color: blue;
 text-decoration: underline;
 font-weight: bolder;
}

::placeholder{color: #fff;}


.header{
  height: 100px;
  padding: 0 25px;
  color: white;
  overflow: hidden;
  font-size: 20px;
  background: rgba(0,0,0,0.9);

}

.header i{
    float: left;
    padding-top: 40px;
    padding-left: 10px;
  }

.logo{
  line-height: 100px;
  float: left ;
  text-transform: uppercase;
  position: relative;
  left: 30px;
}

.menu{
  float: right;
  line-height: 100px; 
}

.menu a{
  color:white;
  text-decoration: none;
  padding: 0 15px;
  transition: 0.4s;
  font-weight: bold;
}

.menu a:hover{
  color:blue   ;
  font-weight: bolder;
  text-decoration: underline;
  font-size: 20px;
}


@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
  font-family: Roboto;
}

.footer-distributed{
  position: absolute;
  bottom: -80%;
  background:black;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 50px 60px 40px;
	overflow: hidden;
	text-align: center;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Roboto', cursive;
	margin: 0 0 10px;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons{
	margin-top: 40px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* The contact form */

.footer-distributed form{
	display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;

	width: 400px;
	padding: 18px;
}

.registered{
	font-size: 20px;
	color: white;
	padding-top: 50px;
}

.registered a{
	color: white;
	text-decoration: none;
}

.registered a:hover{
color: blue;

}